.movie-card {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    background-color: #1d1d1d;
    border-radius: 20px;
    
    &::before {
        position: absolute;
        content: '';
        left: 25px;
        top: 25px;
        bottom: 25px;
        width: 60%;
        background: linear-gradient(90deg, rgb(0, 0, 0) 85%, rgba(255, 255, 255, 0) 100%);
        border-radius: 20px 0 0 20px;
        z-index: 3;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    &__content {
        position: relative;
        z-index: 5;
        padding: 20px 0 20px 20px;
    }

    &__title {
        display: block;
        margin-bottom: 12px;
        font-size: 25px;
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    &__description {
        margin-bottom: 12px;
        font-size: 16px;
    }

    &__img {
        position: relative;
        z-index: 2;
        display: block;
        width: 50%;
        border-radius: 0 20px 20px 0;
        object-fit: cover;
    }

    &__subtitle {
        margin-bottom: 5px;
        font-size: 18px;
    }

    &__cast-list-item {
        display: block;
        font-size: 15px;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}