.page {

    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    background-color: #1d1d1d;
    border-radius: 20px;
    
    &__wrapper {
        padding: 25px 15px;
        background-color: black;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        align-items: stretch;

        @media (max-width: 800px) {
            display: block;
        }
    }

    &__image {
        display: block;
        width: 49%;
        margin-bottom: 5px;
        border-radius: 20px 0 0 0;
        object-fit: cover;
        object-position: top center;

        @media (max-width: 800px) {
            width: 100%;
            margin-bottom: 20px;
            border-radius: 20px 20px 0 0;
        }
    }

    &__content {
        width: 48%;

        @media (max-width: 800px) {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 30px;
        font-size: 25px;
        text-transform: uppercase;

        @media (max-width: 800px) {
            text-align: center;
        }
    }

    &__info {
        font-size: 15px;
    }

    &__info-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px;
        margin-bottom: 5px;
        background-color: #000;
        border-radius: 0 10px 0 0;
        text-align: right;

        & span {
            display: block;
            margin-right: 20px;
        }
    }

    &__biography {
        position: relative;
        margin-bottom: 45px;
        font-size: 15px;
        text-align: justify;
    }

    &__biography-text {
        position: relative;

        &.hide {
            height: 40px;
            overflow: hidden;

            @media (max-width: 800px) {
                height: 75px;
            }
        }

        &.show {
            height: auto;
            overflow: auto;
        }
    }

    &__biography-btn {
        position: absolute;
        bottom: -23px;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        color: inherit;
        border: 1px solid #bfbfbf;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: #5e5e5e;
            transition: all 0.3s;
        }
    }

    &__biography-btn.hide {
        display: none;
    }

    &__movies {
        margin-bottom: 25px;
    }

    &__subtitle {
        margin-bottom: 20px;
        font-size: 22px;
    }

    &__link {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        background-color: #000;
        color: inherit;
        font-size: inherit;
        border: none;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: #373737;
            transition: all 0.3s;
        }
    }

    &__movies-list {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__movies-item {
        max-width: 300px;
    }

    .swiper-button-next, .swiper-button-prev {
        z-index: 1000;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.571);
        border-radius: 50%;
        transition: all 0.3s;
    }
    
    .swiper-button-next:hover, .swiper-button-prev:hover {
        background-color: rgba(255, 255, 255, 0.762);
        transition: all 0.3s;
    }
    
    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 30px;
        color: rgb(29, 29, 29);
    }
    
    .swiper-button-next {
        right: -25px;
    }
    
    .swiper-button-prev {
        left: -25px;
    }
}

.card {
    padding: 15px;
    border-radius: 10px;
    background-color: #000;

    &__title {
        display: block;
        height: 52px;
        margin-bottom: 15px;
        font-size: 20px;
        text-decoration: none;
        color: inherit;
        overflow: auto;
    }

    &__img {
        display: block;
        margin-bottom: 20px;
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    &__description {
        margin-bottom: 15px;
        height: 110px;
        font-size: 17px;
        overflow: hidden;
    }

    &__button {
        display: block;
        padding: 7px;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #1d1d1d;
        color: inherit;
        border-radius: 0 0 10px 10px;
        transition: all 0.3s;

        &:hover {
            background-color: #373737;
            transition: all 0.3s;
        }
    }

    &__character {
        margin-bottom: 10px;
        height: 44px;
        font-size: 17px;
    }
}


